.student-list {
    .student-item {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 20px;

        .details-link {
            > span {
                display: block;

                > span:first-child {
                    font-weight: 600;
                    display: inline-block;
                    width: 110px;
                }
            }
        }

        .edit-link {
            color: #007bff;
            display: block;
            text-decoration: underline;
        }
    }
}