* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
}

ol, ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a {
  color: inherit;
}

.main {
  min-height: calc( 100vh - 140px );
}

.btn {
  font-size: 1.4rem;
}